@charset "UTF-8";
h1, h2, h3, h4, h5, span, small {
    vertical-align: top;
}
*:not(b)  {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-weight: 200;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p{
	font-size:14px;
	margin-top: 3px;
}
#info-table{
	font-size:14px;
	display:inline;
}
#info-table>tbody>tr>td{
	width:80px;
}
body > header, body > nav, body > section{
    width: 100%;
    position: relative;
}

.detail_menu, .shop.detail{
	max-width:768px;
    margin: 0 auto;
/* 	border-right:1px solid black;*/

	box-sizing: border-box;

	
}
.shop.detail{
	border-bottom:1px solid black;
}
    section.shop.detail > article.gallery img {
    width: 100%;
    height: auto;
}
#product-image{
	width:90%;
	margin:auto;
}
section.shop.detail > article.order {
    width: 100%;
    padding: 0 15px;
}
section.shop.detail > article.order .cont {
    position: relative;
}
section.shop.detail > article.order h1 {
    font-size: 14px;
    font-weight: 500 !important;
}
section.shop.detail > article.order .color {
    font-size: 14px;
    display: block;
    margin-top: 3px;
}
section.shop.detail > article.order .price {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
}
section.shop.detail > article.order div.totalPrice{
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
   
    
}
section.shop.detail > article.order div.totalPrice>span{
    float: right;
    padding-top: 15px;
    
}
section.shop.detail > article.order .buttons {
    padding: 50px 0 20px 0;
   
    
}
section.shop.detail > article.order .buttons button {
    width: 49%;
    margin-right: 2px;
    margin-left: 1px;
    height: 40px;
    color: #000;
    margin-top: 8px;
    border: solid 1px #000;
    line-height: 38px;
    font-size: 14px;
    float: left;
    background-color: white;
    cursor:pointer;
    

}
button {
    font-family: "Futura", "Noto Sans CJK KR", sans-serif;
     cursor:pointer;
}
.findStore{
	background-color:transparent;
	 background-color: #0078ff;
    color: #fff;
    width:100px;
}

section.shop.detail > article.order .cont dl > dd .cont {
    overflow-y: auto;
    width: 100%;
    max-height: 200px;
    padding-right: 10px;
}
section.detail_menu> * {
    
    float: left;
}

section.shop.detail > article.order .cont >.product_additional > dl > dt.material {
    padding-right: 55px;
}
body > section.detail_menu {
    font-size: 14px;
    min-height:400px;
}

body > section.detail_menu div.ac {
    width: 100%;
    
    
    
}
body > section.detail_menu label.ac-label{
    border-bottom: solid 1px #000;
    height: 50px;
    font-size: 14px;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    cursor: pointer;
    display: block;

}
.ac-label:after, .ac-input:checked + .ac-label:after {
    content: "+";
   
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  font-size: 20px;

 
  transition: background-color .15s ease-in-out;
}
.ac-input {
  display: none;
}
.ac-input:checked + .ac-label:after {
  content: "-";
  font-size: 20px;
}
.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
 
}
#reviewTitle{
	border-bottom:0px;
}
.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
  opacity: 1;
  height: auto;
  width:100%;
}
.ac-sub .ac-label {
  background: none;

  padding: .5em 2em;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
  padding-top: 20px;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}

.ac-sub-text {
  padding: 0 1em 0 2em;
}
label#reviewTitle{
    padding-left: 30px;
    	border-top:1px solid #ced4da;
	
}
body > section.detail_menu > div> article > div > a{
	float:right;
	margin-right:30px;
	font-size:14px;
}

.count-wrap {
    position: relative;
    padding: 0 38px;
    border: 1px solid #ddd;
    overflow: hidden;
    width: 120px;
    float:right;
    display: block;
}
.count-wrap > button {
    border: 0;
    background: #fff;
    color: #000;width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    font-size: 14px;}
.count-wrap > button.minus {left: 0;}
.count-wrap > button.plus {right: 0;}
.count-wrap .inp {
    border: 0;
    height: 38px;
    text-align: center;
    display: block;
    width: 100%;}
body > section.detail_menu > div:nth-child(4) > article > a{
	float:right;
	margin-right:15px;
	text-decoration:none;
}
div.ac-sub{
	margin:15px;
	
	
}
img{
	width:100%;
	onerror:display:none;

}
#no_review{
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
}

#review_title > li> article.ac-text{
	border-bottom:1px solid gray;
}

.review-thumbNail{
	position:relative;
	height:60px;
	width:50px;
	float:left;
	margin-left:20px;
}
#reviewTitle{
	height:80px;
}
.review_title_text{
	width:60%;
	float:left;
	margin-left:20px;

}
#soldOut{
	margin-top:20px;
	text-align:center;
	color:red;
}
 div.ac-sub > div.image_panel > img{
	width:345px;
}

.star {
    position: relative;
    font-size: 1.5rem;
    color: #ddd;
  }
  
  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .star span {
    width: 100%;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
  }
  .review-grade{
	
    height: 40px;
    padding-bottom: 10px;
    width:90%;
}
#reivew_page_box{
	
	width:auto;
	margin-top:30px;
	display:flex;
	justify-content: center;
}
#reivew_page{
	background-color:transparent;
	
	width:25px;
	height:30px;
}
#review_count{
	text-align:right;
	color:#0078FF;
	height:40px;
	padding:20px 20px 20px;
	margin-bottom:15px;
}
#go-review{
	color:#0078FF;
	float:right;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
}
footer{
	    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}