@charset "UTF-8";
div.leftForm, div.rightForm{
    width: 45%;
    margin: 20px;
    float: left;
}
label {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 1.57;
    float: left;
    width: 100%;
    
}
body >form> section >div> div.box-form > input.g-inputbox-medium, .selectBox{
    width: 100%;
    padding: 15px 9px 14px 10px;
 
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

div.box-textarea > textarea{
    width: 77%;
    height: 131px;
    padding: 17px 11px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline;
    float: left;

}
.box-img-upload{
    width: 115px;
  height: 131px;
margin-right:10px;
margin-bottom:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color:rgb(232, 230, 230);
  
}
div.rightForm > div.box-form{
	height:350px;
}
.drop-zone__prompt{
    color: darkgrey;
    font-size: 50px;
}
.drop-zone__input {
  display: none;
}
input[type=button]{
	margin-left:80px;
	margin-right:3px;
	background-color:#ffffff;
	border:none;
	cursor:pointer;
	
}
body > form > section > div.rightForm > div:nth-child(1) > div:nth-child(3) > input{
	margin-left: 170px;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color:honeydew;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  text-align: center;
}
button#submit, button#goBack{
    height: 38px;
    display: inline-block;
    padding: 2.5px 8px;
    border-radius: 4px;
    background-color: #f3f3f3;
    white-space: nowrap;
    font-size: 14px;
    margin-right: 11px;
     margin-left:20px;
    float: right;
    margin-right: 75px;
    border: 0;
    cursor:pointer;
}

