@charset "UTF-8";
body{
	margin-top:150px;
	position:relative;
	max-width:768px;
	margin:auto;
	background-color:#f1f1f1;
}
.go-back {
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
}
#header-block{
		max-width:768px;
	margin:auto;
}


.go-back img {
    width: 25px;
    height: 25px;
}
.logo {
    width: 95px;
    height: 40px;
}

.back-layout {
    display: flex;
    position: absolute;
    align-items: center;
    top: 5px;
    left: 5px;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    height: 50px;
    position: relative;
}
header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    max-width: 100%;
    margin: 0 auto; 
}
#header-block {
    height: 50px;
}
h2 {
    font-size: 18px;
}
button {
    border: 0;
    background: 0 0;
    cursor: pointer;
}
header > h1 {
    font-size: 0;
}
label {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 1.57;
}
body >section > form>div.box-form > input.g-inputbox-medium{
    width: 100%;
    padding: 15px 9px 14px 10px;
 
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

body > section > form>div.box-form > div > textarea{
    width: 100%;
    height: 350px;
    padding: 17px 11px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.box-img-upload{
    width: 115px;
  height: 131px;
  float:left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin:2px;
  background-color:rgb(232, 230, 230);
  margin-bottom:20px;
  background-size:115px;
  z-index:100;
  
}
.review{
	padding:200px 15px 100px;;
	background-color:#ffffff;
}
.drop-zone__prompt{
    color: darkgrey;
    font-size: 50px;
}
.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color:honeydew;
  background-size: cover;
  position: relative;
   background-size : contain;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  text-align: center;
}

.join-button-wrapper {
   
    cursor: pointer;

}

.submit-button{
	
    height: 50px;
    width: 100%;
    border-color: #0078ff;
    border-radius: 4px;
    background-color: #0078ff;
    color: #fff;
    padding: 14px 16px 15px;
    font-weight: 700;
    cursor: default;

}


.guide {
	font-size: 14px;
    color: #777;
   
    position: relative;
    text-align: left;
    word-break: break-all;
    display: flex;
 
    font-size: 14px;
    list-style: none;
	max-width:400px;  
}

#upload-box-form{
	 height: 131px;
}

input[type=button]{

	background-color:#ffffff;
	border:none;
	cursor:pointer;
	 margin-left:70px;
	 margin-right:18px;
	
}
.range {
    position: relative;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -50px;
    width: 100px;
    height: 20px;
    white-space: nowrap;
    transform: scale(2);
}

.range .number {
    display: none;
    width: 35px;
    height: 20px;
    background-color:#ffffff;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    text-align: center;
    font-size:5px;
   
}

.range .number:after {
    content: "/10";
    font: inherit;
    color: inherit;
}

.range .number:first-child {
    display: block;
}

.range input {
    position: absolute;
    float: right;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.range input:checked~.range-star,
.range input:checked~.range-star:before,
.range input:checked~.range-star:after {
    border-bottom-color: rgb(243, 243, 0);
}

.range input:checked+.range-star+.number {
    display: block;
}

.range .range-star {
    position: relative;
    float: right;
    width: 10px;
    height: 20px;
    overflow: hidden;
}

.range .range-star:before,
.range .range-star:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #f7b731
}

.range .range-star:before {
    border-width: 6px 11px;
    top: 6px;
    left: 1px;
    transform: rotate(111deg);
}

.range .range-star:after {
    top: 7px;
    left: 0;
    border-width: 7px 10px;
    transform: rotate(180deg);
}

.range .range-star.x2:before {
    left: -13px;
    transform: rotate(-111deg);
}

.range .range-star.x2:after {
    left: -10px;
    transform: rotate(-180deg);
}

.range .range-star:hover,
.range .range-star:hover~.range-star,
.range .range-star:hover:before,
.range .range-star:hover~.range-star:before,
.range .range-star:hover:after,
.range .range-star:hover~.range-star:after {
    border-bottom-color: rgb(243, 243, 0) !important;
}

.range:hover input,
.range:hover input:checked,
.range:hover input~.range-star,
.range:hover input:checked~.range-star,
.range:hover input:before,
.range:hover input:checked:before,
.range:hover input~.range-star:before,
.range:hover input:checked~.range-star:before,
.range:hover input:after,
.range:hover input:checked:after,
.range:hover input~.range-star:after,
.range:hover input:checked~.range-star:after {
    border-bottom-color: #f7b731;
}
