<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace= "BrandMapper" >
	<resultMap type="Map" id="brandNameResultMap">
		<result property="brandName"	column="BRAND_NAME"/>
	</resultMap>
	<resultMap type="Brand" id="brandResultMap">
		<id property="brandName"	column="BRAND_NAME"/>
		<result property="storeZipcode"		column="STORE_ZIPCODE"/>
		<result property="storeAddr"		column="STORE_ADDR"/>
		<result property="storeAddrDetail"		column="STORE_ADDR_DETAIL"/>
	</resultMap>
		<insert id="insertBrand" parameterType="Brand">
  		INSERT INTO BRAND_TBL
  		VALUES(#{brandName},#{storeZipcode},#{storeAddr},#{storeAddrDetail})
  	</insert>
		<select id="selectAllStoreName" resultMap="brandNameResultMap">
  		SELECT BRAND_NAME FROM BRAND_TBL
  	</select>
  	<select id="selectOneBrand" resultMap="brandResultMap">
  		SELECT * FROM BRAND_TBL WHERE BRAND_NAME=#{brandName}
  	</select>
</mapper>