<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace= "CampAdminMapper">
 	<resultMap type="CampSite" id="CampSiteResultMap">
  		<id property="siteNo" column="SITE_NO" />
  		<result property="siteName" column="SITE_NAME" />
  		<result property="campId" column="CAMP_ID" />
  		<result property="campName" column="CAMP_NAME" />
  		<result property="siteChar" column="SITE_CHAR" />
  		<result property="siteInfo" column="SITE_INFO" />
  		<result property="siteIntro" column="SITE_INTRO" />
  		<result property="standardPeople" column="STANDARD_PEOPLE" />
  		<result property="maxPeople" column="MAX_PEOPLE" />
  		<result property="excessCharge" column="EXCESS_CHARGE" />
  		<result property="inTime" column="IN_TIME" />
  		<result property="outTime" column="OUT_TIME" />
  		<result property="sitePrice" column="SITE_PRICE" />
  		<result property="siteCount" column="SITE_COUNT" />
  		<result property="siteThumbnailName" column="SITE_THUMBNAIL_NAME" />
  		<result property="siteThumbnailPath" column="SITE_THUMBNAIL_PATH" />
  		<result property="siteThumbnailRename" column="SITE_THUMBNAIL_RENAME" />
  		<result property="sCreateDate" column="S_CREATE_DATE" />
 	</resultMap>
  	<insert id="insertCampList">
  		INSERT INTO CAMP_TBL VALUES(#{contentId},#{facltNm},#{lineIntro},#{intro},#{bizrno},#{featureNm},#{induty},#{lctCl},#{doNm},#{sigunguNm},#{zipcode},#{addr1},#{tel},#{mapX},#{mapY},#{homepage},#{resveUrl},#{tooltip},#{glampInnerFclty},#{caravInnerFclty},#{operPdCl},#{operDeCl},#{sbrsCl},#{sbrsEtc},#{animalCmgCl},#{tourEraCl},#{firstImageUrl},DEFAULT,DEFAULT)
  	</insert>
  	<select id="selectSiteListCount" resultType="_int">
  		SELECT COUNT(*) FROM CAMP_SITE_TBL WHERE CAMP_ID = #{contentId}
  	</select>
  	<insert id="insertSite">
  		INSERT INTO CAMP_SITE_TBL VALUES(SEQ_SITE_NO.NEXTVAL,#{siteName},#{campId},#{campName},#{siteChar},#{siteInfo},#{siteIntro},#{standardPeople},#{maxPeople},#{excessCharge},#{inTime},#{outTime},#{sitePrice},#{siteCount},#{siteThumbnailName},#{siteThumbnailPath},#{siteThumbnailRename},DEFAULT,DEFAULT,DEFAULT)
  	</insert>
  	<update id="updateCampRegistAvi">
  		UPDATE CAMP_TBL SET 
  		<if test="confirm == 1">
	  		REGISTAVI = 'Y' 
  		</if>
  		<if test="confirm == 0">
	  		REGISTAVI = 'N' 
  		</if>
  		WHERE CONTENTID = #{contentId}
  	</update>
  	<select id="selectSiteList" resultMap="CampSiteResultMap">
  		SELECT * FROM CAMP_SITE_TBL WHERE CAMP_ID = #{contentId}
  	</select>
  	<delete id="deleteSite">
  		DELETE FROM CAMP_SITE_TBL WHERE SITE_NO = #{siteNo}
  	</delete>
  	<select id="selectSite" resultMap="CampSiteResultMap">
  		SELECT * FROM CAMP_SITE_TBL WHERE SITE_NO = #{siteNo}
  	</select>
  	<update id="updateSite">
  		UPDATE CAMP_SITE_TBL SET SITE_NAME = #{siteName}, SITE_CHAR = #{siteChar}, SITE_INFO = #{siteInfo}, SITE_INTRO = #{siteIntro}, STANDARD_PEOPLE = #{standardPeople}, MAX_PEOPLE = #{maxPeople}, EXCESS_CHARGE = #{excessCharge}, IN_TIME = #{inTime}, OUT_TIME = #{outTime}, SITE_PRICE = #{sitePrice}, SITE_COUNT = #{siteCount}, SITE_THUMBNAIL_NAME = #{siteThumbnailName}, SITE_THUMBNAIL_PATH = #{siteThumbnailPath}, SITE_THUMBNAIL_RENAME = #{siteThumbnailRename} WHERE SITE_NO = #{siteNo}
  	</update>
  	<update id="updateSiteNoImg">
  		UPDATE CAMP_SITE_TBL SET SITE_NAME = #{siteName}, SITE_CHAR = #{siteChar}, SITE_INFO = #{siteInfo}, SITE_INTRO = #{siteIntro}, STANDARD_PEOPLE = #{standardPeople}, MAX_PEOPLE = #{maxPeople}, EXCESS_CHARGE = #{excessCharge}, IN_TIME = #{inTime}, OUT_TIME = #{outTime}, SITE_PRICE = #{sitePrice}, SITE_COUNT = #{siteCount} WHERE SITE_NO = #{siteNo}
  	</update>
  	
  	<resultMap  type="OrderPay" id="orderPayResultMap"> 
  		<id property="payNo" 	column="PAY_NO"/>
  		<result property="orderNo" 			column="ORDER_NO"/>
  		<result property="memberId" 		column="MEMBER_ID"/>
  		<result property="imp_uid" 			column="IMP_UID"/>
  		<result property="merchant_uid" 	column="MERCHANT_UID"/>
  		<result property="payDate" 			column="PAY_DATE"/>
  		<result property="payPrice" 		column="PAY_PRICE"/>
  		<result property="productPrice" 	column="PRODUCT_PRICE"/>
  		<result property="usePoint" 		column="USE_POINT"/>
  		<result property="getPoint" 		column="GET_POINT"/>
  		<result property="payStatus" 		column="PAY_STATUS"/>
  		<result property="payType" 			column="PAY_TYPE"/>
  		
  </resultMap>
  
  <select id="printAllPayInfo" resultMap="orderPayResultMap">
  	SELECT * FROM PAY_TBL WHERE ORDER_NO=#{bookingNo} AND PAY_TYPE='C'
  </select>
  	
</mapper>