<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace= "CampAdminMapper">
  	<insert id="insertCampList">
  		INSERT INTO CAMP_TBL VALUES(#{contentId},#{facltNm},#{lineIntro},#{intro},#{bizrno},#{featureNm},#{induty},#{lctCl},#{doNm},#{sigunguNm},#{zipcode},#{addr1},#{tel},#{mapX},#{mapY},#{homepage},#{resveUrl},#{tooltip},#{glampInnerFclty},#{caravInnerFclty},#{operPdCl},#{operDeCl},#{sbrsCl},#{sbrsEtc},#{animalCmgCl},#{tourEraCl},#{firstImageUrl},DEFAULT,DEFAULT)
  	</insert>
  	
</mapper>