<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace= "CampBookingMapper">
  	<insert id="bookingInsert">
  		INSERT INTO CAMP_BOOKING_TBL VALUES(SEQ_BOOKING_NO.NEXTVAL,#{memberId},#{siteNo},#{bookName},#{bookPhone},#{bookRequest},#{bookPeople},#{firstDay},#{lastDay},#{totalDay},#{bookIniPrice},#{bookExtra},#{bookUsePoint},#{bookGetPoint},#{bookTotalPrice},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
  	</insert>
  	<insert id="bStatusInsert">
  		BEGIN
		    FOR I IN 0..#{totalDay}
		    LOOP
		    INSERT INTO BOOKING_STATUS VALUES(SEQ_BOOKING_NO.CURRVAL,#{siteNo},#{memberId},TO_DATE(#{sBookDate},'YYYY-MM-DD')+I);
		    END LOOP;
		END;
  	</insert>
  	<select id="selectBookCount" resultType="string">
  		SELECT 
  		MIN((SELECT SITE_COUNT FROM CAMP_SITE_TBL WHERE SITE_NO = #{siteNo})-COUNT(*)) 
  		FROM BOOKING_STATUS 
  		WHERE SITE_NO = #{siteNo}
  		AND S_BOOK_DATE BETWEEN #{firstDay} AND (TO_DATE(#{lastDay} ,'YYYY-MM-DD')-1)
  		GROUP BY S_BOOK_DATE
  	</select>
</mapper>