<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace= "CartMapper">
  	<resultMap type="Cart" id="cartResultMap">
  		<id 	property="cartNo" 	column="CART_NUM"/>
  		<result property="productNo" 	column="PRODUCT_NO"/>
  		<result property="memberId" 	column="MEMBER_ID"/>
  		<result property="cartCount" 	column="CART_COUNT"/>
  		
  	</resultMap>
  	
  	<insert id="insertProduct">
  	INSERT INTO CART_TBL
  	VALUES(SEQ_CARTNO.NEXTVAL,#{productNo},#{memberId},#{cartCount})
  	</insert>
  	
<!--   		<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER_TABLE
		VALUES(#{memberId}, #{memberPw}, #{memberNickname}, #{memberEmail}, #{memberRecommend}, NULL, NULL,NULL,NULL,NULL,NULL,NULL,NULL,
        DEFAULT,DEFAULT,DEFAULT,NULL,NULL,NULL,DEFAULT)
		</insert> -->
		
		<select id="selectAllCart" resultMap="cartResultMap">
		SELECT * FROM CART_TBL
		 WHERE MEMBER_ID = #{memberId }
		</select>
		
		<update id="updateCount">
			UPDATE CART_TBL SET CART_COUNT=#{cartCount} WHERE PRODUCT_NO=#{productNo}
		</update>
		
		<delete id="deleteOne">
			DELETE FROM CART_TBL WHERE CART_NUM=#{cartNo}
		</delete>
		  <delete id="deleteCheck">
		  	DELETE FROM CART_TBL WHERE PRODUCT_NO=#{productNo} AND MEMBER_ID=#{memberId}
		  </delete>
		  
		    <delete id="deleteCartProduct" parameterType="list"> 
			DELETE FROM CART_TBL
			<where> 
				<foreach collection="orders" item="item" open="" close="" separator="OR"> 
				(MEMBER_ID = #{item.memberId} AND  PRODUCT_NO= #{item.productNo}) 
				</foreach> 
				</where> 
			</delete>
		
	<resultMap type="Product" id="productResultMap">
  		<id 	property="productNo" 		column="PRODUCT_NO"/>
  		<result property="productName" 		column="PRODUCT_NAME"/>
  		<result property="category" 		column="CATEGORY"/>
  		<result property="productPrice" 	column="PRODUCT_PRICE"/>
  		<result property="productColor" 	column="PRODUCT_COLOR"/>
  		<result property="productStock" 	column="PRODUCT_STOCK"/>
  		<result property="mainFileName" 	column="MAIN_FILE_NAME"/>
  		<result property="mainFilePath" 	column="MAIN_FILE_PATH"/>
  		<result property="mainFileRename" 	column="MAIN_FILE_RENAME"/>
  		<result property="updateDate" 		column="UPDATE_DATE"/>
  		<result property="brandName" 		column="BRAND_NAME"/>
  		<result property="productMaterial" 	column="PRODUCT_MATERIAL"/>
  		<result property="saleCount" 		column="SALE_COUNT"/>

  		
  	</resultMap>
		
		
		<select id="selectAllProduct" resultMap="productResultMap">
		SELECT *FROM PRODUCT_TBL
		WHERE PRODUCT_NO=#{productNo}
		</select>
</mapper>