<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace= "MemberMapper">
  	<resultMap type="Member" id="memberResultMap">
  		<id 	property="memberId" 	column="MEMBER_ID"/>
  		<result property="memberPw" 	column="MEMBER_PW"/>
  		<result property="memberNickname" 	column="MEMBER_NICKNAME"/>
  		<result property="memberEmail" 	column="MEMBER_EMAIL"/>
  		<result property="memberRecommend" 	column="MEMBER_RECOMMEND"/>
  		<result property="memberName" 	column="MEMBER_NAME"/>
  		<result property="memberPhone" 	column="MEMBER_PHONE"/>
  		<result property="memberZip" 	column="MEMBER_ZIP"/>
  		<result property="memberAddress1" 	column="MEMBER_ADDRESS1"/>
  		<result property="memberAddress2" 	column="MEMBER_ADDRESS2"/>
  		<result property="memberAccountName" 	column="MEMBER_ACCOUNT_NAME"/>
  		<result property="memberAccountBank" 	column="MEMBER_ACCOUNT_BANK"/>
  		<result property="memberAccountNumber" 	column="MEMBER_ACCOUNT_NUMBER"/>
  		<result property="adminCheck" 	column="ADMIN_CHECK"/>
  		<result property="memberDate" 	column="MEMBER_DATE"/>
  		<result property="totalPoint" 	column="TOTAL_POINT"/>
  		<result property="memberImage" 	column="MEMBER_IMAGE"/>
  		<result property="memberFilename" 	column="MEMBER_FILENAME"/>
  		<result property="memberFilername" 	column="MEMBER_FILERNAME"/>
  		<result property="memberCategory" 	column="MEMBER_CATEGORY"/>
  	</resultMap>
  	
  		<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER_TABLE
		VALUES(#{memberId}, #{memberPw}, #{memberNickname}, #{memberEmail}, #{memberRecommend}, NULL, NULL,NULL,NULL,NULL,NULL,NULL,NULL,
        DEFAULT,DEFAULT,DEFAULT,NULL,NULL,NULL,DEFAULT)
		</insert>
		
		<select id="selectLoginOne" resultMap="memberResultMap">
		SELECT MEMBER_ID FROM MEMBER_TABLE
		 WHERE MEMBER_ID = #{memberId } AND MEMBER_PW = #{memberPw }
		</select>
		
		<select id="selectOneByEmail" resultType="_int">
		select count(MEMBER_EMAIL) FROM MEMBER_TABLE WHERE MEMBER_EMAIL = #{memberEmail}
		</select>
		
		<select id="selectOneByNickname" resultType="_int">
		select count(MEMBER_NICKNAME) FROM MEMBER_TABLE WHERE MEMBER_NICKNAME = #{memberNickname}
		</select>
		
		<select id="selectCountById" resultType="_int">
		select count(MEMBER_ID) FROM MEMBER_TABLE WHERE MEMBER_ID = #{memberId}
		</select>
		
		<select id="selectCountByIdEmail" resultType="_int">
		select count(MEMBER_ID) FROM MEMBER_TABLE WHERE MEMBER_ID = #{memberId} AND MEMBER_EMAIL = #{memberEmail }
		</select>
		
		<select id="selectOneByidPw" resultType="_int">
		select count(MEMBER_ID) FROM MEMBER_TABLE WHERE MEMBER_ID = #{memberId } AND MEMBER_PW = #{memberPw }
		</select>
		
		<select id="selectIdListByEmail" resultMap="memberResultMap">
		SELECT MEMBER_ID, MEMBER_DATE FROM MEMBER_TABLE WHERE MEMBER_EMAIL = #{memberEmail}
		</select>
		
		<select id="selectOneById" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TABLE WHERE MEMBER_ID = #{memberId }
		</select>
		
		<update id="updateMemberNickname" parameterType="Member">
			UPDATE MEMBER_TABLE
			SET MEMBER_NICKNAME = #{memberNickname }
			WHERE MEMBER_ID = #{memberId }
		</update>
		
		<update id="updateMemberPw" parameterType="Member">
			UPDATE MEMBER_TABLE
			SET MEMBER_PW = #{memberPw }
			WHERE MEMBER_ID = #{memberId }
		</update>
		
		<update id="updateMemberAccount" parameterType="Member">
			UPDATE MEMBER_TABLE
			SET MEMBER_ACCOUNT_NAME = #{memberAccountName },
			MEMBER_ACCOUNT_BANK = #{memberAccountBank },
			MEMBER_ACCOUNT_NUMBER = #{memberAccountNumber }
			WHERE MEMBER_ID = #{memberId }
		</update>
		
		<update id="updateMemberAddress" parameterType="Member">
			UPDATE MEMBER_TABLE
			SET MEMBER_NAME = #{memberName },
			MEMBER_ZIP = #{memberZip },
			MEMBER_PHONE = #{memberPhone },
			MEMBER_ADDRESS1 = #{memberAddress1 },
			MEMBER_ADDRESS2 = #{memberAddress2 }
			WHERE MEMBER_ID = #{memberId }
		</update>
		
</mapper>

