<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace= "PointMapper">
   <resultMap  type="Point" id="pointResultMap">
 
  <id property="pointNo" 	column="POINT_NO"/>
  		<result property="memberId" 	column="MEMBER_ID"/>
  		<result property="pointDate" 	column="POINT_DATE"/>
  		<result property="point" 	column="POINT"/>
  		<result property="pointType" 	column="POINT_TYPE"/>
  </resultMap>
  <insert id="insertUsePoint">
  INSERT INTO POINT_TBL
  VALUES(SEQ_POINTNO.NEXTVAL,#{memberId},DEFAULT,#{point},'포인트 사용')
  </insert>
  <insert id="insertGetPoint">
  INSERT INTO POINT_TBL
  VALUES(SEQ_POINTNO.NEXTVAL,#{memberId},DEFAULT,#{point},'구매확정 적립')
  </insert>
  <insert id="insertRefundPoint">
  INSERT INTO POINT_TBL
  VALUES(SEQ_POINTNO.NEXTVAL,#{memberId},DEFAULT,#{point},'환불완료 반환')
  </insert>
  
  <select id="selectPrintPointList" resultMap="pointResultMap">
  SELECT *FROM POINT_TBL
 WHERE MEMBER_ID=#{memberId} ORDER BY POINT_NO DESC
  </select>
  
  <select id="selectTotalCount" resultType="_int">
  SELECT COUNT(*) FROM POINT_TBL WHERE MEMBER_ID=#{memberId}
  </select>
  
  
  </mapper>