<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace= "ProductMapper" >
	<resultMap type="Product" id="productResultMap">
		<id property="productNo"			column="PRODUCT_NO"/>
		<result property="productName"		column="PRODUCT_NAME"/>
		<result property="category"			column="CATEGORY"/>
		<result property="productPrice"		column="PRODUCT_PRICE"/>
		<result property="productColor"		column="PRODUCT_COLOR"/>
		<result property="productStock"		column="PRODUCT_STOCK"/>
		<result property="mainFileName"		column="MAIN_FILE_NAME"/>
		<result property="mainFilePath"		column="MAIN_FILE_PATH"/>
		<result property="mainFileRename"	column="MAIN_FILE_RENAME"/>
		<result property="updateDate"		column="UPDATE_DATE"/>
		<result property="brandName"		column="BRAND_NAME"/>
		<result property="productMaterial"	column="PRODUCT_MATERIAL"/>
		<result property="saleCount"		column="SALE_COUNT"/> 	
		<result property="discount"			column="DISCOUNT"/> 	
		<result property="productState"		column="PRODUCT_STATE"/> 	
	</resultMap>
	<resultMap type="Product" id="productNameResultMap">
		<result property="productName"		column="PRODUCT_NAME"/>
	</resultMap>
	<resultMap type="Detail" id="detailResultMap">
		<id property="productNo"		column="PRODUCT_NO"/>
		<result property="detailFileName" column="DETAIL_FILE_NAME"/>
		<result property="detailFilePath" column="DETAIL_FILE_PATH"/>
		<result property="detailFileRename" column="DETAIL_FILE_RENAME"/>
		<result property="detailContents" column="DETAIL_CONTENTS"/>
	</resultMap>
  	<insert id="insertProduct" parameterType="Product">
  		<selectKey resultType="int" keyProperty="productNo" order="BEFORE">
			SELECT PRODUCT_SEQNO.NEXTVAL FROM DUAL
		</selectKey>
  	 	INSERT INTO PRODUCT_TBL
  	 	VALUES(#{productNo}, #{productName},#{category},#{productPrice},#{productColor},#{productStock},#{mainFileName},#{mainFilePath},#{mainFileRename},DEFAULT,#{brandName},#{productMaterial},DEFAULT,#{discount},DEFAULT)
  	</insert>
  	<update id="updateProduct" parameterType="Product">
  	 	UPDATE PRODUCT_TBL SET
  	 	PRODUCT_PRICE=#{productPrice},
  	 	PRODUCT_COLOR=#{productColor},
  	 	PRODUCT_STOCK=#{productStock},
  	 	MAIN_FILE_NAME=#{mainFileName},
  	 	MAIN_FILE_PATH=#{mainFilePath},
  	 	MAIN_FILE_RENAME=#{mainFileRename},
  	 	PRODUCT_MATERIAL=#{productMaterial},
  	 	DISCOUNT=#{discount}
  		WHERE PRODUCT_NO=#{productNo}
  	</update>
  	<select id="selectAllProduct" resultMap="productResultMap">
  		SELECT * FROM PRODUCT_TBL
  		<if test="sortCd.toString()=='new'">
  			ORDER BY UPDATE_DATE DESC
  			</if>		
  			<if test="sortCd.toString()=='highPrice'">
  			ORDER BY PRODUCT_PRICE DESC
  			</if>		
  			<if test="sortCd.toString()=='rowPrice'">
  			ORDER BY PRODUCT_PRICE
  			</if>		
  			<if test="sortCd.toString()=='sale'">
  			ORDER BY SALE_COUNT DESC
  		</if>
  		WHERE PRODUCT_STATE=0	
  	</select>
  	<insert id="insertProductDetail" parameterType="Detail">
  		INSERT INTO DETAIL_TBL
  		VALUES(#{productNo},#{detailFileName},#{detailFilePath},#{detailFileRename},#{detailContents})
  	</insert>
  	
  	<update id="updateProductDetail" parameterType="Detail">
  		UPDATE DETAIL_TBL SET
  		DETAIL_FILE_NAME=#{detailFileName},
  		DETAIL_FILE_PATH=#{detailFilePath},
  		DETAIL_FILE_RENAME=#{detailFileRename},
  		DETAIL_CONTENTS=#{detailContents}
  		WHERE PRODUCT_NO=#{productNo}
  	</update>
  	<delete id="deleteDetail" >
  		DELETE DETAIL_TBL WHERE PRODUCT_NO=#{productNo} AND DETAIL_FILE_RENAME=#{detailFileRename}
  	</delete>
  	<select id="selectAllProductByArrayDf" parameterType="String" resultMap="productResultMap">
		<choose >
			<when test="arrayCd.toString() =='newArrival'">
				SELECT*FROM(SELECT*FROM PRODUCT_TBL ORDER BY UPDATE_DATE DESC) WHERE  <![CDATA[ROWNUM<=20 ]]> AND PRODUCT_STATE=0	
			</when>
			<when test="arrayCd.toString() =='topSale'">
				SELECT*FROM(SELECT*FROM PRODUCT_TBL ORDER BY SALE_COUNT DESC) WHERE  <![CDATA[ROWNUM<=20 ]]> AND PRODUCT_STATE=0	
			</when>
			<otherwise>
				SELECT * FROM PRODUCT_TBL WHERE PRODUCT_STATE=0
			</otherwise>
		</choose>
		
  	</select>
  	<select id="selectProductByNo" resultMap="productResultMap">
  		SELECT*FROM PRODUCT_TBL WHERE PRODUCT_NO=#{productNo}
  	</select>
  	<select id="selectAllDetailInfo" resultMap="detailResultMap">
  		SELECT*FROM DETAIL_TBL WHERE PRODUCT_NO=#{productNo}
  	</select>
  	<select id="selectProductName" resultType="String">
  		SELECT PRODUCT_NAME FROM PRODUCT_TBL WHERE PRODUCT_NO=#{productNo}
  	</select>
  	<select id="selectProductByKeyword" resultMap="productResultMap">
  		SELECT * FROM PRODUCT_TBL 
  		<where>
  			PRODUCT_NAME LIKE '%'||#{keyword}||'%' 
  			OR CATEGORY LIKE '%'||#{keyword}||'%' 
  			OR PRODUCT_COLOR LIKE '%'||#{keyword}||'%' 
  			OR BRAND_NAME LIKE '%'||#{keyword}||'%'
  			AND PRODUCT_STATE=0
  		</where>
  	</select>
  	<select id="selectProductByBrand" resultMap="productResultMap">
  		
  		SELECT*FROM PRODUCT_TBL WHERE (BRAND_NAME=#{brandName}OR BRAND_NAME LIKE '%'||#{brandName}||'%')AND PRODUCT_STATE=0
  			<if test="sortCd.toString()=='new'">
  			ORDER BY UPDATE_DATE DESC
  			</if>		
  			<if test="sortCd.toString()=='highPrice'">
  			ORDER BY PRODUCT_PRICE DESC
  			</if>		
  			<if test="sortCd.toString()=='rowPrice'">
  			ORDER BY PRODUCT_PRICE
  			</if>		
  			<if test="sortCd.toString()=='sale'">
  			ORDER BY SALE_COUNT DESC
  			</if>		
  	</select>
  	<select id="selectProductByCategory" resultMap="productResultMap">
  		<choose>
  			<when test='cate_no.toString=="1"'>
  				SELECT * FROM PRODUCT_TBL WHERE CATEGORY='텐트' OR CATEGORY='타프' AND PRODUCT_STATE=0 ORDER BY UPDATE_DATE DESC
  			</when>
  			<when test='cate_no.toString=="2"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='텐트' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="3"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='타프' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="4"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE (CATEGORY='테이블' OR CATEGORY='체어') AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="5"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='테이블' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="6"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='체어' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="7"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE (CATEGORY='침낭' OR CATEGORY='매트' OR CATEGORY='야전침대') AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="8"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='침낭' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="9"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='매트' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="10"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='야전침대' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="11"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE (CATEGORY='코펠' OR CATEGORY='취사도구' OR CATEGORY='컵/머그컵') AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="12"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='코펠' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="13"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='취사도구' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="14"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='컵/머그컵' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="15"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE (CATEGORY='스토브' OR CATEGORY='화로대' OR CATEGORY='난로') AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="16"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='스토브' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="17"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='화로대' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="18"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='난로' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="19"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE (CATEGORY='전기용품' OR CATEGORY='기타소품') AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="20"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='전기용품' AND PRODUCT_STATE=0
  			</when>
  			<when test='cate_no.toString=="21"'>
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL WHERE CATEGORY='기타소품' AND PRODUCT_STATE=0
  			</when>
  			<otherwise>
  			
  				SELECT PRODUCT_NO, MAIN_FILE_RENAME, PRODUCT_NAME, PRODUCT_COLOR, PRODUCT_PRICE, CATEGORY, UPDATE_DATE, DISCOUNT FROM PRODUCT_TBL
  			</otherwise>
  		</choose>	
  			<if test="sortCd.toString()=='new'">
  			ORDER BY UPDATE_DATE DESC
  			</if>		
  			<if test="sortCd.toString()=='highPrice'">
  			ORDER BY PRODUCT_PRICE DESC
  			</if>		
  			<if test="sortCd.toString()=='rowPrice'">
  			ORDER BY PRODUCT_PRICE
  			</if>		
  			<if test="sortCd.toString()=='sale'">
  			ORDER BY SALE_COUNT DESC
  			</if>
  					
  	</select>
  	<delete id="deleteProduct">
  		UPDATE PRODUCT_TBL SET PRODUCT_STATE=1 WHERE PRODUCT_NO=#{productNo}
  	</delete>
</mapper>