<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace= "ProductMapper" >
	<resultMap type="Product" id="productResultMap">
		<id property="productNo"			column="PRODUCT_NO"/>
		<result property="productName"		column="PRODUCT_NAME"/>
		<result property="category"			column="CATEGORY"/>
		<result property="productPrice"		column="PRODUCT_PRICE"/>
		<result property="productColor"		column="PRODUCT_COLOR"/>
		<result property="productStock"		column="PRODUCT_STOCK"/>
		<result property="mainFileName"		column="MAIN_FILE_NAME"/>
		<result property="mainFilePath"		column="MAIN_FILE_PATH"/>
		<result property="mainFileRename"	column="MAIN_FILE_RENAME"/>
		<result property="updateDate"		column="UPDATE_DATE"/>
		<result property="brandName"		column="BRAND_NAME"/>
		<result property="productMaterial"	column="PRODUCT_MATERIAL"/>
		<result property="saleCount"		column="SALE_COUNT"/> 	
	</resultMap>
	<resultMap type="Detail" id="detailResultMap">
		<id property="productNo"		column="PRODUCT_NO"/>
		<result property="detailFileName" column="DETAIL_FILE_NAME"/>
		<result property="detailFilePath" column="DETAIL_FILE_PATH"/>
		<result property="detailFileRename" column="DETAIL_FILE_RENAME"/>
		<result property="detailContents" column="DETAIL_CONTENTS"/>
	</resultMap>
  	<insert id="insertProduct" parameterType="Product">
  		<selectKey resultType="int" keyProperty="productNo" order="BEFORE">
			SELECT PRODUCT_SEQNO.NEXTVAL FROM DUAL
		</selectKey>
  	 	INSERT INTO PRODUCT_TBL
  	 	VALUES(#{productNo}, #{productName},#{category},#{productPrice},#{productColor},#{productStock},#{mainFileName},#{mainFilePath},#{mainFileRename},DEFAULT,#{brandName},#{productMaterial},DEFAULT)
  	</insert>
  	<select id="selectAllProduct" resultMap="productResultMap">
  		SELECT * FROM PRODUCT_TBL
  	</select>
  	<insert id="insertProductDetail" parameterType="Detail">
  		INSERT INTO DETAIL_TBL
  		VALUES(#{productNo},#{detailFileName},#{detailFilePath},#{detailFileRename},#{detailContents})
  	</insert>
  	<select id="selectNewArrivalList" resultMap="productResultMap">
  		SELECT*FROM(SELECT*FROM PRODUCT_TBL ORDER BY UPDATE_DATE DESC) WHERE  <![CDATA[ROWNUM<=20 ]]>
  	</select>
  	<select id="selectProductByNo" resultMap="productResultMap">
  		SELECT*FROM PRODUCT_TBL WHERE PRODUCT_NO=#{productNo}
  	</select>
  	<select id="selectAllDetailInfo" resultMap="detailResultMap">
  		SELECT*FROM DETAIL_TBL WHERE PRODUCT_NO=#{productNo}
  	</select>
  	
</mapper>