* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: #aaa;
}

h2 {
    font-size: 16px;
}

button {
    border: 0;
    background: 0 0;
    cursor: pointer;
}

body {
    background-color: #f1f1f1;
}

.body-wrapper {
    max-width: 400px;
    margin: 0 auto; 
    background-color: white;
    min-height: 100vh;
}

/* Header */
#header-block {
    height: 50px;

}

header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    max-width: 400px;
    margin: 0 auto; 
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 385px;
    margin: 0 auto;
    height: 50px;
    position: relative;
}

header > h1 {
    font-size: 0;
}

.logo {
    width: 95px;
    height: 40px;
}

.back-layout {
    display: flex;
    position: absolute;
    align-items: center;
    top: 5px;
    left: 5px;
}

.go-back {
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.go-back img {
    width: 25px;
    height: 25px;
}


/* Section */

.member-check {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 50px;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #fff;
    padding: 0px 20px;
    border-bottom: solid black 2px;
}

.login-member {
    padding: 0px 15px;
}

.login-member-form {
    margin-top: 20px;
}

.login-input {
    width: 100%;
    height: 48px;    
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 15px;
    background-color: #fff;
    transition: border .4s ease-in-out;
    padding: 0 12px;
}

.login-input-pw {
    width: 100%;
    height: 48px;    
    border: none;
    border-radius: 4px;
    font-size: 15px;
    background-color: #fff;
    transition: border .4s ease-in-out;
    padding: 0 12px;
}

.password-input-wrapper {
    display: flex;
    height: 50px;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    align-items: center;
    margin-top: 8px;
}

.password-eye {
    height: 30px;
    width: 30px;
    margin-right: 7px;
}

#toggle-eye {
	color: #aaa;
}

.login-button {
    background-color: #000;
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    padding: 14px 16px 15px;
    border: 1px solid #000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
}

.member-util {
    position: relative;
    padding-top: 16px;
    padding-bottom: 4px;
}


.autologin {
    display: none;
}

#labelAutologin {
    padding-left: 26px;
    font-size: 14px;
}

#labelAutologin::before {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 100%;
    background-color: #f1f1f1;
    content: '';
}

.util-list {
    display: block;
    position: absolute;
    top: 16px;
    right: 0;
    list-style: none;
}

.util-item1 {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #aaa;
}

.util-item2 {
    display: inline-block;
    position: relative;
    padding-left: 8px;
    font-size: 14px;
    line-height: 21px;
}

.util-item2:before {
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 1px;
    height: 14px;
    background-color: #d8d8d8;
    content: '';
}

.find-id {
    color: #aaa;
}

.find-pw {
    color: #aaa;
}

.social-login {
    margin-top: 20px;
}

.kakao-login {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #fee500;
    border-radius: 4px;
}

.register {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.register-text {
    font-size: 14px;
    text-align: center;
    color: #aaa;
}