@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #000;
    background-color: #f1f1f1;
}

.body-wrapper {
    max-width: 768px;
    margin: 0 auto; 
    background-color: white;
    min-height: 100vh;
}

button {
    border: 0;
    background: 0 0;
    cursor: pointer;
}

a {
   text-decoration: none; 
   color: black;
}

h2 {
    font-size: 16px;
}

h3 {
    text-align: center;
}

li {
    list-style: none;
}

/* Header */
#header-block {
    height: 50px;
}

header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    max-width: 768px;
    margin: 0 auto; 
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
    height: 50px;
    position: relative;
}

header > h1 {
    font-size: 0;
}

.logo {
    width: 95px;
    height: 40px;
}

.back-layout {
    display: flex;
    position: absolute;
    align-items: center;
    top: 5px;
    left: 5px;
}

.go-back {
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.go-back img {
    width: 25px;
    height: 25px;
}

/* Section */
section {
    padding: 20px 15px 100px;
    margin: 0 auto;
    max-width: 768px;
}

.section-wrapper {
    margin-top: 20px;
}

.nickname-change {
    width: 100%;
    height: 48px;    
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 15px;
    background-color: #fff;
    padding: 0 12px;
    margin-top: 8px;
}

.current-nickname {
    margin-top: 7px;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 18px;
    color: #aaa;
}

ul {
    display: block;
    padding-left: 10px;
    font-size: 12px;
}

li {
    display: block;
    position: relative;
    text-align: left;
    margin-top: 8px;
    color: #777;
}

li:before {
    display: block;
    position: absolute;
    top: 8px;
    left: -8px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    content: '';
    background-color: #777;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    padding: 28px 15px 20px;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #f3f3f3;
    color: #b3b3b3;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    cursor: default;
}